poll_interval: 1800 # Every 30 minutes
guardicore:
  management_url: "cus-NNNN.cloud.guardicore.com"
  username: "gc-api"
  password: "supersecretpassword"

domains:
  consoto.com:
    server: dc01.contoso.com
    base_dn: DC=contoso,DC=com
    bind_user: 
    bind_password:
  
rules:
  label-domain-admin-computers:
    domains:
      contoso.com:
        target_dn: OU=Admins,OU=Workstations,DC=contoso,DC=com
      example.com:
        target_dn: OU=Workstation Admins,DC=example,DC=com
    labels:
      Active Directory Admin: 'Yes'
